.main-left{
    padding: 20px;
}

.mian-profile{
    height: 455px;
}

.main-left h2{
    border-bottom: 2px solid #ebebeb;
    line-height: 50px;
}

.main-left ul{
    width: 100%;
    margin: 10px 0;
    padding: 0;
    float: left;
}

.main-left ul li{
    width: 50%;
    height: 40px;
    line-height: 40px;
    float: left;
    font-size: 18px;
    font-weight: bold;
}

.main-left ul li:nth-child(1){
    width: 100%;
}

.main-left ul li span{
    font-weight: normal;
    cursor: text;
}

.right-body{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ebebeb;
}