@import "../../base/css/common.css";

/*
    中间
*/
.main{
    width: 100%;
    float: left;
}

.main .main-div{
    width: 1200px;
    margin: 0 auto;
}

.div-left{
    width: 900px;
    float: left;
}

.div-right{
    width: 290px;
    float: right;
}


@media screen and (max-width: 1200px) {

    .main .main-div{
        width: 100%;
    }

    .div-left{
        width: 70%;
        float: left;
    }

    .div-right{
        width: 29%;
        float: right;
    }
}

@media screen and (max-width: 950px){
    .div-right{
        display: none;
    }
    .div-left{
        width: 100%;
    }
}