@import "../../base/css/common.css";
@import "../../base/css/intro.css";
@import "../../base/css/cloud.css";
@import "prism.css";

.main-left{
    padding: 20px;
}


.main-left h1{
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 2em;
    float: left;
}

.article-intro{
    width: 100%;
    line-height: 30px;
    float: left;
}

.article-intro span{
    display: inline-block;
    height: 100%;
    position: relative;
}

.intro-type{
    float: left;
    width: 120px;
    text-align: left;
    padding-left: 40px;
    box-sizing: border-box;
}

.intro-type i{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 0;
    background: url("../images/type.png") no-repeat;
    background-size: contain;
}

.intro-type span:hover{
    color: #2e9ad0;
    cursor: pointer;
    text-decoration: underline;
}

.intro-time{
    float: right;
    width: 120px;
    text-align: right;
}

.intro-time i{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 0;
    background: url("../images/calendar.png") no-repeat;
    background-size: contain;
}

.article-tags{
    width: 100%;
    line-height: 30px;
    float: left;
    margin-top: 10px;
    border-top: 2px solid #2e9ad0;
    padding: 10px;
    box-sizing: border-box;
}

.article-tags span{
    display: inline-block;
    min-width: 50px;
    height: 100%;
    float: left;
    background-color: #FAFAD2;
    text-align: center;
    margin: 5px;
    padding: 0 5px;
    border-radius: 5px;
}

.article-body{
    padding: 5px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    overflow: hidden;
}

.article-line{
    width: 100%;
    height: 2px;
    background-color: #9d9d9d;
    float: left;
    margin-top: 30px;
}

.article-block{
    width: 100%;
    height: 30px;
    float: left;
}

.article-comment{
    width: 100%;
    float: left;
    overflow: hidden;
    margin-bottom: 30px;
}

.comment-title{
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
}

.comment-title i{
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/comment.png") no-repeat;
    background-size: contain;
    float: left;
}

.comment-title span{
    display: block;
    height: 30px;
    float: left;
    margin-left: 15px;
}

.comment-container{
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
}

.comment-container li{
    width: 100%;
    float: left;
    min-height: 100px;
    border-bottom: 2px solid #c6c6c6;
    padding: 10px 0;
}

.comment-left{
    width: 60px;
    float: left;
    position: relative;
    margin-right: -60px;
}

.left-head{
    width: 100%;
    height: 60px;
    float: left;
    background-color: red;
}

.comment-right{
    width: 100%;
    float: right;
    overflow: hidden;
}

.right-main{
    margin-left: 65px;
    width: 100%;
    padding-right: 65px;
    box-sizing: border-box;
    overflow: hidden;
}

.mian-name{
    width: 100%;
    height: 60px;
    line-height: 60px;
    float: left;
}

.main-content{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.main-reply{
    width: 100%;
    float: left;
    text-align: right;
    font-size: 12px;
}

.main-reply span{
    display: inline-block;
    margin-right: 10px;
}

.main-reply span:hover{
    color: #2e9ad0;
    cursor: pointer;
}

.main-line{
    width: 100%;
    float: left;
    height: 1px;
    background-color: #2e9ad0;
}

.main-reply-container {
    width: 100%;
    float: left;
    overflow: hidden;
    padding: 5px 15px;
    box-sizing: border-box;
}

.reply-container{
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

.reply-container li{
    width: 100%;
    float: left;
    min-height: 30px;
    border-bottom: 1px solid #c6c6c6;
}

.reply-container h5{
    padding: 5px 0;
    margin: 0;
}

.reply-content{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding-left: 40px;
    box-sizing: border-box;
}

.right-body{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ebebeb;
}