@import "../../base/css/common.css";
@import "../../base/css/intro.css";
@import "../../base/css/cloud.css";

.main-left{
    padding: 20px;
}


.main-left h1{
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 2em;
    float: left;
}

.article-intro{
    width: 100%;
    line-height: 30px;
    float: left;
}

.article-intro span{
    display: inline-block;
    height: 100%;
    position: relative;
}

.intro-type{
    float: left;
    width: 120px;
    text-align: left;
    padding-left: 40px;
    box-sizing: border-box;
}

.intro-type i{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 0;
    background: url("../images/type.png") no-repeat;
    background-size: contain;
}

.intro-time{
    float: right;
    width: 120px;
    text-align: right;
}

.intro-time i{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 0;
    background: url("../images/calendar.png") no-repeat;
    background-size: contain;
}

.article-tags{
    width: 100%;
    line-height: 30px;
    float: left;
    margin-top: 10px;
    border-top: 2px solid #2e9ad0;
    padding: 10px;
    box-sizing: border-box;
}

.article-tags span{
    display: inline-block;
    min-width: 50px;
    height: 100%;
    float: left;
    background-color: #FAFAD2;
    text-align: center;
    margin: 5px;
    padding: 0 5px;
    border-radius: 5px;
}

.article-body{
    padding: 5px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    overflow: hidden;
}

.right-body{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ebebeb;
}