<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boss.dao.series.mapper.SeriesMapper" >

    <delete id="deleteSeriesByArticleId" parameterType="java.lang.String">
        DELETE
            tb_series_article
        FROM
            tb_series_article
        WHERE
            tb_series_article.ARTICLE_ID = #{id}
    </delete>

</mapper>