/*
	by adam   ---   273961736@qq.com
	2016.4.21
*/


/*
    part 1.
*/
@keyframes imageAnimation1 {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5) rotate(40deg);
    }
    18% {
        opacity: 0;
        transform: scale(1.5) rotate(40deg);
    }
    100% { opacity: 0 }
}
@-webkit-keyframes imageAnimation1 {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5) rotate(40deg);
    }
    18% {
        opacity: 0;
        transform: scale(1.5) rotate(40deg);
    }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation1 {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5) rotate(40deg);
    }
    18% {
        opacity: 0;
        transform: scale(1.5) rotate(40deg);
    }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation1 {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5) rotate(40deg);
    }
    18% {
        opacity: 0;
        transform: scale(1.5) rotate(40deg);
    }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation1 {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5) rotate(40deg);
    }
    18% {
        opacity: 0;
        transform: scale(1.5) rotate(40deg);
    }
    100% { opacity: 0 }
}



/*
    part 2.
*/
@keyframes imageAnimation2 {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5) rotate(-40deg);
    }
    18% {
        opacity: 0;
        transform: scale(1.5) rotate(-40deg);
    }
    100% { opacity: 0 }
}
@-webkit-keyframes imageAnimation2{
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5) rotate(-40deg);
    }
    18% {
        opacity: 0;
        transform: scale(1.5) rotate(-40deg);
    }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation2{
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5) rotate(-40deg);
    }
    18% {
        opacity: 0;
        transform: scale(1.5) rotate(-40deg);
    }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation2{
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5) rotate(-40deg);
    }
    18% {
        opacity: 0;
        transform: scale(1.5) rotate(-40deg);
    }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation2{
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5) rotate(-40deg);
    }
    18% {
        opacity: 0;
        transform: scale(1.5) rotate(-40deg);
    }
    100% { opacity: 0 }
}



/*
    part 3.
*/
@keyframes imageAnimation3 {
    0% {
        opacity: 0;
        transform: scale(1);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.2);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.2);
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        left: -100%;
    }
    100% { opacity: 0 }
}
@-webkit-keyframes imageAnimation3 {
    0% {
        opacity: 0;
        transform: scale(1);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.2);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.2);
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        left: -100%;
    }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation3 {
    0% {
        opacity: 0;
        transform: scale(1);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.2);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.2);
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        left: -100%;
    }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation3 {
    0% {
        opacity: 0;
        transform: scale(1);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.2);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.2);
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        left: -100%;
    }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation3 {
    0% {
        opacity: 0;
        transform: scale(1);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.2);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.2);
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        left: -100%;
    }
    100% { opacity: 0 }
}




/*
    part 4.
*/
@keyframes imageAnimation4 {
    0% {
        opacity: 0;
        transform: scale(1);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.2);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.2);
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        left: 100%;
    }
    100% { opacity: 0 }
}
@-webkit-keyframes imageAnimation4 {
    0% {
        opacity: 0;
        transform: scale(1);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.2);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.2);
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        left: 100%;
    }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation4 {
    0% {
        opacity: 0;
        transform: scale(1);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.2);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.2);
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        left: 100%;
    }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation4 {
    0% {
        opacity: 0;
        transform: scale(1);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.2);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.2);
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        left: 100%;
    }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation4 {
    0% {
        opacity: 0;
        transform: scale(1);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.2);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.2);
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        left: 100%;
    }
    100% { opacity: 0 }
}




/*
    part 5.
*/
@keyframes imageAnimation5 {
    0% {
        opacity: 0;
        transform: scale(1);
        top: -100%;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1);
        top: -50%;
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1);
        top: 0%;
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        top: 80%;
    }
    100% { opacity: 0 }
}
@-webkit-keyframes imageAnimation5 {
    0% {
        opacity: 0;
        transform: scale(1);
        top: -100%;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1);
        top: -50%;
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1);
        top: 0%;
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        top: 80%;
    }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation5 {
    0% {
        opacity: 0;
        transform: scale(1);
        top: -100%;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1);
        top: -50%;
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1);
        top: 0%;
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        top: 80%;
    }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation5 {
    0% {
        opacity: 0;
        transform: scale(1);
        top: -100%;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1);
        top: -50%;
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1);
        top: 0%;
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        top: 80%;
    }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation5 {
    0% {
        opacity: 0;
        transform: scale(1);
        top: -100%;
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1);
        top: -50%;
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1);
        top: 0%;
    }
    18% {
        opacity: 0;
        transform: scale(1.2);
        top: 80%;
    }
    100% { opacity: 0 }
}




/*
    part 6.
*/
@keyframes imageAnimation6 {
    0% {
        opacity: 0;
        transform: scale(0) rotate(-360deg);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5);
    }
    18% {
        opacity: 0;
        transform: scale(2);
    }
    100% { opacity: 0 }
}
@-webkit-keyframes imageAnimation6 {
    0% {
        opacity: 0;
        transform: scale(0) rotate(-360deg);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5);
    }
    18% {
        opacity: 0;
        transform: scale(2);
    }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation6 {
    0% {
        opacity: 0;
        transform: scale(0) rotate(-360deg);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5);
    }
    18% {
        opacity: 0;
        transform: scale(2);
    }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation6 {
    0% {
        opacity: 0;
        transform: scale(0) rotate(-360deg);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5);
    }
    18% {
        opacity: 0;
        transform: scale(2);
    }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation6 {
    0% {
        opacity: 0;
        transform: scale(0) rotate(-360deg);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
        animation-timing-function: ease-out;
    }
    12% {
        opacity: 1;
        transform: scale(1.5);
    }
    18% {
        opacity: 0;
        transform: scale(2);
    }
    100% { opacity: 0 }
}