/*
	by adam   ---   273961736@qq.com
	2016.4.29
*/

/*
    part 1.
*/
@keyframes image1 {
    0%{
        transform: perspective(400px) rotateX(90deg);
        -webkit-transform: perspective(400px) rotateX(90deg);
        -moz-transform: perspective(400px) rotateX(90deg);
        opacity:0;
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
    }
    4%{
        -webkit-transform: perspective(400px) rotateX(-5deg);
        transform: perspective(400px) rotateX(-5deg);
        -moz-transform: perspective(400px) rotateX(-5deg);
    }
    6%{
        -webkit-transform: perspective(400px) rotateX(5deg);
        transform: perspective(400px) rotateX(5deg);
        -moz-transform: perspective(400px) rotateX(5deg);
    }
    8%{
        -webkit-transform: perspective(400px) rotateX(0deg);
        transform: perspective(400px) rotateX(0deg);
        -moz-transform: perspective(400px) rotateX(0deg);
        opacity:1
    }
    28%{
        -webkit-transform: perspective(400px) rotateX(0deg);
        transform: perspective(400px) rotateX(0deg);
        -moz-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
    32%{
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        -moz-transform: perspective(400px) rotateX(90deg);
        opacity:0
    }
}

/*
    part 2.
*/
@keyframes image2 {
    0%{
        opacity:0;
        -webkit-transform:translateX(-20px);
        transform:translateX(-20px);
        -moz-transform:translateX(-20px);
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
    }
    6%{
        opacity:1;
        -webkit-transform:translateX(0);
        transform:translateX(0);
        -moz-transform:translateX(0);
    }
    26%{
        opacity:1;
        -webkit-transform:translateX(0);
        transform:translateX(0);
        -moz-transform:translateX(0);
    }
    29%{
        opacity:0;
        -webkit-transform:translateX(20px);
        transform:translateX(20px);
        -moz-transform:translateX(20px);
    }
    33%{
        opacity:0;
        -webkit-transform:translateX(20px);
        transform:translateX(20px);
        -moz-transform:translateX(20px);
    }
}


/*
    part 3.
*/
@keyframes image3 {
    0%{
        opacity:0;
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
        -moz-transform:translateY(-20px);
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
    }
    6%{
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0);
        -moz-transform:translateY(0);
    }
    26%{
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0);
        -moz-transform:translateY(0);
    }
    29%{
        opacity:1;
        -webkit-transform:translateY(20px);
        transform:translateY(20px);
        -moz-transform:translateY(20px);
    }
    33%{
        opacity:0;
        -webkit-transform:translateY(20px);
        transform:translateY(20px);
        -moz-transform:translateY(20px);
    }
}



@keyframes span1 {
    0% {
        opacity: 1;
        width: 0px;
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
    }
    4% {
        opacity: 1;
        width: 0px;
    }
    8% {
        opacity: 0.3;
        width: 0px;
    }
    18% {
        opacity: 1;
        width: 50%;
    }
    28% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes span2 {
    0% {
        opacity: 1;
        height: 0px;
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
    }
    2%{
        opacity: 1;
        height: 0px;
    }
    12% {
        opacity: 1;
        height: 25px;
    }
    22% {
        opacity: 1;
        height: 50px;
    }
}

@keyframes span3 {
    0% {
        opacity: 1;
        height: 0px;
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
    }
    4%{
        opacity: 1;
        height: 0px;
    }
    14% {
        opacity: 1;
        height: 25px;
    }
    24% {
        opacity: 1;
        height: 50px;
    }
}

@keyframes span4 {
    0% {
        opacity: 1;
        height: 0px;
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
    }
    6%{
        opacity: 1;
        height: 0px;
    }
    16% {
        opacity: 1;
        height: 25px;
    }
    26% {
        opacity: 1;
        height: 50px;
    }
}


@keyframes span51 {
    0% {
        opacity: 0;
        transform: translateZ(1600px) translateX(1200px);
        -webkit-transform: translateZ(1600px) translateX(1200px);
        -moz-transform: translateZ(1600px) translateX(1200px);
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
    }
    6% {
        opacity: 0;
        transform: translateZ(1600px) translateX(1200px);
        -webkit-transform: translateZ(1600px) translateX(1200px);
        -moz-transform: translateZ(1600px) translateX(1200px);
    }
    18% {
        opacity: 1;
        transform:  translateZ(0px) translateX(0px);
        -webkit-transform:  translateZ(0px) translateX(0px);
        -moz-transform:  translateZ(0px) translateX(0px);
    }
    30% {
        opacity: 1;
    }
}

@keyframes span5 {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
        transform: translateZ(600px) translateX(200px);
    }

    6% {
        opacity: 0;
        transform: translateZ(600px) translateX(200px);
    }

    12% {
        opacity: 1;
        -webkit-transform: translateZ(0px) translateX(0px);
    }
    14% {
        -webkit-transform: translateZ(0px) translateX(0px);
    }
    28% {
        opacity: 1;
        -webkit-transform: translateZ(0px) translateX(0px);
    }
}