@import "../../base/css/common.css";


.line{
    width: 100%;
    height: 2px;
    float: left;
    background-color: lightblue;
}

/*
    中间
*/
.main{
    width: 100%;
    float: left;
}

.main .main-div{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.div-left{
    width: 900px;
    float: left;
}

.div-right{
    width: 290px;
    float: right;
}

/*
    左边
*/
.div-left h3{
    text-align: left;
    font-weight: normal;
    line-height: 30px;
}

.div-left h3 i{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    background: url("../images/tips.png") no-repeat;
}

/*
    标签云
*/
.div-right .type-div{
    width: 100%;
    height: 300px;
    float: left;
    background-color: #ebebeb;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.type-div h3{
    text-align: left;
    font-weight: normal;
    line-height: 30px;
    padding: 0 0 10px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.type-div h3 i{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    background: url("../images/category.png") no-repeat;
}

.type-div .type-body{
    width: 100%;
    height: 237px;
    float: left;
    text-align: center;
}

/*
    热门评论
*/
.div-right .hot-div{
    width: 100%;
    height: 300px;
    float: left;
    background-color: #ebebeb;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: 10px;
}

.hot-div h3{
    text-align: left;
    font-weight: normal;
    line-height: 30px;
    padding: 0 0 10px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.hot-div h3 i{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    background: url("../../index/images/tips.png") no-repeat;
}

.hot-div .line{
    width: 100%;
    height: 2px;
    float: left;
    background-color: lightblue;
}

.hot-div ul{
    margin: 0;
    padding: 0;

}

.hot-div ul li{
    line-height: 30px;
    width: 100%;
    text-align: center;
}

.hot-div ul li:hover{
    text-decoration: underline;
}


@media screen and (max-width: 1200px) {

    .main .main-div{
        width: 100%;
    }

    .div-left{
        width: 70%;
        float: left;
    }

    .div-right{
        width: 29%;
        float: right;
    }
}

@media screen and (max-width: 950px){
    .div-right{
        display: none;
    }
    .div-left{
        width: 100%;
    }
}
