<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enjoylife.comment.dao.CommentMapper" >

    <select id="selectByPage" resultMap="ResultMapWithBLOBs" parameterType="com.enjoylife.view.Page">
        SELECT
          tc.*
        FROM
          tb_article_comment tac
        LEFT JOIN
          tb_comment tc ON tac.COMMENT_ID = tc.COMMENT_ID
        <where>
            <if test="articleId != null and articleId != '' ">
                tac.ARTICLE_ID = #{articleId}
            </if>
            <if test="isReply != null">
                AND tc.COMMENT_IS_REPLY = #{isReply}
            </if>
        </where>
        ORDER BY tc.CREATE_DATE DESC
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="selectCountsByArticle" resultType="java.lang.Integer" parameterType="com.enjoylife.view.Page">
        SELECT
          COUNT(1)
        FROM
          tb_article_comment tac
        LEFT JOIN
          tb_comment tc ON tac.COMMENT_ID = tc.COMMENT_ID
        <where>
            <if test="articleId != null and articleId != '' ">
                tac.ARTICLE_ID = #{articleId}
            </if>
            <if test="isReply != null">
                AND tc.COMMENT_IS_REPLY = #{isReply}
            </if>
        </where>
    </select>

    <select id="selectReplyComment" resultMap="ResultMapWithBLOBs" parameterType="com.enjoylife.form.CommentForm">
        SELECT
          tc.*
        FROM
          tb_article_comment tac
        LEFT JOIN
          tb_comment tc ON tac.COMMENT_ID = tc.COMMENT_ID
        <where>
            <if test="articleId != null and articleId != '' ">
                tac.ARTICLE_ID = #{articleId}
            </if>
            <if test="commentId != null and commentId != '' ">
                AND tc.COMMENT_REPLY_BODY = #{commentId}
            </if>
            <if test="commentIsReply != null">
                AND tc.COMMENT_IS_REPLY = #{commentIsReply}
            </if>
        </where>
        ORDER BY tc.CREATE_DATE ASC
    </select>

</mapper>