<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enjoylife.series.dao.SeriesMapper" >

    <resultMap id="seriesInfoMap" extends="BaseResultMap"  type="com.enjoylife.series.vo.SeriesInfo">
        <result column="counts" property="counts" jdbcType="INTEGER" />
    </resultMap>
    
    <select id="selectAllSeries" resultMap="seriesInfoMap">
        SELECT
            ts.*, IFNULL(ts_counts.counts, 0) AS counts
        FROM
            tb_series ts
        LEFT JOIN (
            SELECT
                tsa.SERIES_ID,
                COUNT(1) AS counts
            FROM
                tb_article_series tsa
            GROUP BY
                tsa.SERIES_ID
        ) ts_counts ON ts.SERIES_ID = ts_counts.SERIES_ID
        ORDER BY ts.CREATE_TIME DESC
    </select>

</mapper>