<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enjoylife.type.dao.TypeMapper" >

    <select id="selectAllTypes" resultMap="BaseResultMap">
        SELECT
            tt.*
        FROM
          tb_type tt
    </select>

</mapper>