<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="top">
        <div class="top">
            <div class="top-container">
                <div class="top-left">
                    <a href="/blogs/refresh.html">
                        刷新搜索引擎
                    </a>
                </div>
                <div class="top-right">
                    <!--/*@thymesVar id="userSimpleName" type=""*/-->
                    <span>
                        欢迎你
                        <a href="#" th:text="${userSimpleName}"></a>
                    </span>
                    <span>
                        <a href="/logout.html">登出</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

</html>