@import "../../base/css/common.css";

.main{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    margin-top: 60px;
    height: 600px;
    padding-top: 100px;
    font-family: 幼圆, serif;
}

.logo h1 {
    font-size: 200px;
    color: #0099cc;
    text-align: center;
    margin-bottom: 1px;
    text-shadow: 1px 1px 6px #fff;
}

@media (max-width: 440px){
    .logo h1{
        font-size: 150px;
    }
}

.logo p {
    color: rgb(228, 146, 162);
    font-size: 20px;
    margin-top: 1px;
    text-align: center;
}

.sub a {
    color: white;
    background: #0099cc;
    text-decoration: none;
    padding: 7px 120px;
    font-size: 13px;
    font-weight: bold;
    -webkit-border-radius: 3em;
    -moz-border-radius: .1em;
    -border-radius: .1em;
    font-family: 楷体, serif;
}

@media screen and (max-width: 1200px) {

    .main{
        width: 100%;
    }

}