.head-image{
    width: 96%;
    margin-left: 2%;
    float: left;
    text-align: center;
    margin-top: 5px;
}

.head-image img{
    max-width: 100%;
}

.msg-intro{
    width: 100%;
    float: left;
    height: 50px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
}

.msg-intro span{
    display: inline-block;
    width: 100%;
}

.intro-blogs{
    width: 49%;
    height: 100%;
    float: left;
    border-right: 1px solid #ebebeb;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.intro-types{
    width: 50%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}