.main-left{
    padding: 20px;
}
.left-body{
    overflow: hidden;
    margin-bottom: 10px;
    padding: 2px 2px;
    box-sizing: border-box;
    float: left;
    width: 100%;
}

.right-body{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ebebeb;
}

/*首页*/
.main-blog {
    width: 100%;
    min-height: 235px;
    float: left;
    box-shadow: 0 1px 5px #c6c6c6;
    margin-bottom: 20px;
}
.blog-head{
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
    float: left;
    box-sizing: border-box;
    word-wrap: break-word;
}
.blog-head h2{
    font-weight: normal;
}
.blog-head a:hover{
    cursor: pointer;
    color: #2e9ad0;
}
.blog-intro{
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    float: left;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: right;
}
.blog-intro span:nth-child(2){
    margin-left: 5px;
}
.blog-line{
    width: 98%;
    height: 1px;
    margin-left: 1%;
    background-color: #ebebeb;
    float: left;
    margin-bottom: 5px;
}
.blog-type{
    width: 100%;
    font-size: 14px;
    float: left;
    padding: 0 20px;
    box-sizing: border-box;
}
.type-body{
    min-width: 50px;
    line-height: 30px;
    padding: 0 5px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 3px;
}
.type-body:nth-child(7n + 1){
    background-color: #FFC0CB;
}
.type-body:nth-child(7n + 2){
    background-color: #FFA07A;
}
.type-body:nth-child(7n + 3){
    background-color: #FFFFE0;
}
.type-body:nth-child(7n + 4){
    background-color: #98FB98;
}
.type-body:nth-child(7n + 5){
    background-color: #87CEEB;
}
.type-body:nth-child(7n + 6){
    background-color: #191970;
    color: white;
}
.type-body:nth-child(7n + 7) {
    background-color: #BA55D3;
    color: white;
}
.blog-body{
    width: 100%;
    font-size: 14px;
    float: left;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 10px;
    position: relative;
}
.blog-body a{
    display: block;
    float: left;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: none;
    margin: 0 10px 0 0;
    text-align: center;
}
.blog-body img{
    max-width: 100%;
}
.blog-page{
    width: 100%;
    overflow: hidden;
    padding: 2px 2px;
    box-sizing: border-box;
    float: left;
    text-align: center;
}


/*专题*/
.series-main{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.series-main li{
    width: 100%;
    line-height: 40px;
    margin-top: 5px;
    border-bottom: 2px solid #ebebeb;
    padding: 0 20px;
    box-sizing: border-box;
}

.series-main h2{
    font-weight: normal;
    display: inline-block;
}

.series-main h2:hover{
    cursor: pointer;
    color: #2e9ad0;
}

.series-main span{
    display: inline-block;
    float: right;
}


/*一览*/
.eyes-time{
    width: 80px;
    height: 400px;
    float: left;
    position: relative;
    margin-right: -80px;
}

.time-div{
    overflow: hidden;
    width: 80px;
    top: 0;
}

.time-year{
    width: 100%;
    float: left;
    font-size: 22px;
    margin-bottom: 5px;
}

.time-year span{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.time-year span:hover{
    color: #2e9ad0;
}

.time-year span i{
    width: 8px;
    height: 16px;
    background: url("../images/down.png") no-repeat;
    background-size: 8px 16px;
    position: absolute;
    right: 0;
    bottom: 2px;
}

.time-year span .yead-front-up{
    background: url("../images/up.png") no-repeat;
    background-size: 8px 16px;
}

.time-year ul{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.time-year ul li{
    width: 100%;
    line-height: 15px;
    float: left;
    margin-top: 3px;
    text-align: right;
    font-size: 14px;
}

.time-year ul li:hover{
    color: #2e9ad0;
    cursor: pointer;
}

.now-year{
    color: #2e9ad0;
}

.display-ul{
    display: none;
}

.now-month{
    color: #2e9ad0;
}

.eyes-title{
    float: right;
    width: 100%;
}

.eyes-container-title{
    margin-left: 110px;
    margin-top: 16px;
}

.eyes-container-title h2{
    width: 100%;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    padding: 5px 5px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.eyes-container-title h2 span{
    display: inline-block;
}

.eyes-title-content{
    margin-left: 20px;
}

.eyes-title-content a:hover{
    color: #2e9ad0;
}


/*关于*/
.mian-profile{
    height: 455px;
}
.mian-profile h2{
    border-bottom: 2px solid #ebebeb;
    line-height: 50px;
}

.mian-profile ul{
    width: 100%;
    margin: 10px 0;
    padding: 0;
    float: left;
}

.mian-profile ul li{
    width: 50%;
    height: 40px;
    line-height: 40px;
    float: left;
    font-size: 18px;
    font-weight: bold;
}

.mian-profile ul li:nth-child(1){
    width: 100%;
}

.mian-profile ul li span{
    font-weight: normal;
    cursor: text;
}


/*详情*/
.main-left h1{
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 2em;
    float: left;
}

.article-intro{
    width: 100%;
    line-height: 30px;
    float: left;
}

.article-intro span{
    display: inline-block;
    height: 100%;
    position: relative;
}

.intro-type{
    float: left;
    width: 120px;
    text-align: left;
    padding-left: 40px;
    box-sizing: border-box;
}

.intro-type i{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 0;
    background: url("../images/type.png") no-repeat;
    background-size: contain;
}

.intro-type span:hover{
    color: #2e9ad0;
    cursor: pointer;
    text-decoration: underline;
}

.intro-time{
    float: right;
    width: 120px;
    text-align: right;
}

.intro-time i{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 0;
    background: url("../images/calendar.png") no-repeat;
    background-size: contain;
}

.article-tags{
    width: 100%;
    line-height: 30px;
    float: left;
    margin-top: 10px;
    border-top: 2px solid #2e9ad0;
    padding: 10px;
    box-sizing: border-box;
}

.article-tags span{
    display: inline-block;
    min-width: 50px;
    height: 100%;
    float: left;
    background-color: #FAFAD2;
    text-align: center;
    margin: 5px;
    padding: 0 5px;
    border-radius: 5px;
}

.article-body{
    padding: 5px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    overflow: hidden;
    cursor: text;
}

.article-body img{
    cursor: default;
    max-width: 100%;
}

.article-body pre{
    cursor: text;
}

.article-body p a{
    text-decoration: underline;
    color: #0000cc;
}

.article-body blockquote{
    white-space: normal;
    word-break: break-all;
    background-color: #DCDCDC;
    padding: 5px;
    box-sizing: border-box;
}

.article-line{
    width: 100%;
    height: 2px;
    background-color: #9d9d9d;
    float: left;
    margin-top: 30px;
}

.article-block{
    width: 100%;
    height: 30px;
    float: left;
}

.article-comment{
    width: 100%;
    float: left;
    overflow: hidden;
    margin-bottom: 30px;
}

.comment-title{
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
}

.comment-title i{
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/comment.png") no-repeat;
    background-size: contain;
    float: left;
}

.comment-title span{
    display: block;
    height: 30px;
    float: left;
    margin-left: 15px;
}

.comment-container{
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
}

.comment-container li{
    width: 100%;
    float: left;
    min-height: 100px;
    border-bottom: 2px solid #c6c6c6;
    padding: 10px 0;
}

.comment-container .comment-no-data {
    min-height: 40px;
    height: 40px;
    text-align: center;
}

.comment-container .comment-loading {
    text-align: center;
    min-height: 40px;
    height: 40px;
    float: left;
    position: relative;
    border-bottom: none;
}

.comment-main-editor, .reply-main-editor{
    width: 0;
    height: 0;
}

.loading-bar{
    width: 140px;
    height: 12px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 12px;
    background: url("../images/comment-loading-bar.gif") no-repeat;
    background-size: contain;
}

.comment-left{
    width: 60px;
    float: left;
    position: relative;
    margin-right: -60px;
}

.left-head{
    width: 100%;
    height: 60px;
    float: left;
    background: url("../images/head.png") no-repeat;
    background-size: contain;
}

.comment-right{
    width: 100%;
    float: right;
    overflow: hidden;
}

.right-main{
    margin-left: 65px;
    width: 100%;
    padding-right: 65px;
    box-sizing: border-box;
    overflow: hidden;
}

.mian-name{
    width: 100%;
    height: 60px;
    line-height: 60px;
    float: left;
    padding: 5px 10px;
    box-sizing: border-box;
}

.mian-name span:nth-child(1){
    font-size: 20px;
    display: block;
    height: 100%;
    float: left;
    font-weight: bold;
}

.mian-name span:nth-child(2){
    font-size: 14px;
    display: block;
    height: 100%;
    float: right;
}

.has-website{
    text-decoration: underline;
}

.has-website:hover{
    color: #2e9ad0;
    cursor: pointer;
}

.main-content{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding: 0 15px;
    box-sizing: border-box;
}

.main-content a{
    color: #2e9ad0;
}

.main-reply{
    width: 100%;
    float: left;
    text-align: right;
    font-size: 12px;
    margin-bottom: 5px;
}

.main-reply span{
    display: inline-block;
    margin-right: 10px;
}

.main-reply span:hover{
    color: #2e9ad0;
    cursor: pointer;
}

.reply-color, .show-color{
    color: #2e9ad0;
}

.main-line{
    width: 0;
    float: left;
    height: 1px;
    background-color: #2e9ad0;
}

.main-reply-container {
    width: 100%;
    float: left;
    overflow: hidden;
    padding: 5px 15px;
    box-sizing: border-box;
    border-top: 1px solid #ebebeb;
}

.reply-container{
    width: 100%;
    margin: 0;
    padding: 5px 0;
    overflow: hidden;
}

.reply-container li{
    width: 100%;
    float: left;
    min-height: 30px;
    border-bottom: 1px solid #c6c6c6;
}

.reply-no-datas{
    text-align: center;
    font-size: 14px;
}

.reply-container h5{
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

.reply-container h5 span:nth-child(1){
    font-weight: bold;
}
.reply-container h5 span:nth-child(2){
    float: right;
}

.reply-content{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 14px;
}

.comment-pages{
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
    text-align: right;
}

.comment-editor{
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.comment-buttons{
    width: 100%;
    margin-top: 10px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.error-message{
    color: red;
}

.submit-button{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    float: right;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
}

.submit-button:hover{
    cursor: pointer;
    background-color: #2e9ad0;
    color: #ffffff;
}

.reply-editor{
    width: 100%;
    overflow: hidden;
    float: left;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.reply-buttons{
    width: 100%;
    margin-top: 10px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.submit-reply-button{
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
    float: right;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    font-size: 12px;
}

.submit-reply-button:hover{
    color: #fff;
    cursor: pointer;
    background-color: #2e9ad0;
}

.submit-screen-div{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: #000;
    opacity: 0.3;
    top: 0;
}

.submit-info-div{
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    z-index: 101;
    padding: 10px 0 0 0;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #ffffff;
    border-radius: 3px;
}

.info-main{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
}

.info-main li{
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.info-main input{
    width: 200px;
    height: 20px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    outline: none;
}

.info-main input:nth-child(2){
    width: 130px;
}

.info-main select{
    width: 60px;
    height: 24px;
}

.info-buttons{
    width: 100%;
    float: left;
    height: 40px;
    bottom: 0;
    background-color: #2e9ad0;
    position: absolute;
    box-sizing: border-box;
}

.info-buttons span{
    display: block;
    width: 148px;
    line-height: 40px;
    text-align: center;
    float: left;
    border-top: 1px solid #000;
}

.info-buttons span:hover{
    cursor: pointer;
    color: #ffffff;
}

.info-buttons span:nth-child(1){
    border-right: 1px solid #000;
}
.info-buttons span:nth-child(2){
    border-left: 1px solid #000;
}

.whole-div{
    display: none;
    left: 0;
    top: 0;
    position: fixed;
}

.loading-div{
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    z-index: 101;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #ffffff;
    border-radius: 3px;
}

.loading-info{
    width: 100%;
    height: 100%;
    background: url("../images/comment-loading.gif") no-repeat;
    background-size: cover;
}

/*404*/
.not-container{
    width: 100%;
    text-align: center;
}

.not-container h3{
    font-size: 480px;
}

.not-container a:hover{
    cursor: pointer;
    color: #2e9ad0;
}

/*分类*/
.cate-info-container{
    width: 100%;
    min-height: 100px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #ebebeb;
}

.cate-info-container .not-data{
    text-align: center;
}

.cate-container-left{
    width: 20%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.cate-container-left img{
    max-width: 100%;
}

.cate-container-right{
    width: 80%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.cate-right-title{
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    float: left;
}

.cate-right-desc{
    width: 100%;
    margin-top: 5px;
    min-height: 70px;
    float: left;
}

.cate-right-tag{
    width: 100%;
    margin-top: 5px;
    float: left;
}

.cate-right-tag span{
    display: block;
    line-height: 15px;
    width: 100px;
    float: left;
    position: relative;
    margin-left: 15px;
}

.cate-right-tag span i{
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
}

.cate-right-tag .show{
    background: url("../images/document.png") no-repeat;
    background-size: contain;
}

.cate-right-tag .time{
    background: url("../images/calendar.png") no-repeat;
    background-size: contain;
}

.cate-right-tag span em{
    margin-left: 20px;
    display: block;
    height: 15px;
    font-style: normal;
    line-height: 15px;
    font-size: 12px;
}

.cate-right-tag .show-text{
    color: #ff2222;
}

.cate-right-tag .time-text{
    color: #27C0D8;
}

.cate-left-page{
    width: 100%;
    overflow: hidden;
    padding: 2px 2px;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .cate-container-left{
        display: none;
    }

    .cate-container-right{
        width: 100%;
    }
}

/*搜索*/

.sea-info-container{
    width: 100%;
    min-height: 100px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.sea-info-container h2{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: left;
    float: left;
}

.sea-info-container h2 a{
    color: #2e9ad0;
    font-weight: normal;
    font-size: 26px;
    text-decoration: underline;
}

.search-red{
    color: red;
}

.info-date{
    color: #c6c6c6;
}

.sea-info-container .not-data{
    text-align: center;
}

.sea-info-container section{
    width: 100%;
    line-height: 20px;
    float: left;
    word-break: break-all;
    font-size: 14px;
}

.sea-left-page{
    width: 100%;
    overflow: hidden;
    padding: 2px 2px;
    box-sizing: border-box;
    float: left;
    text-align: center;
}